<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width,initial-scale=1.0">-->
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!--vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <title>vue-excel</title>
</head>
<body>
<div class="container" style="padding-top: 60px;">
    <div class="row" id="fileForm" style="text-align: center;display:flex; display: -webkit-flex; align-items:center;">
        <div class="col-md-2 col-md-offset-2">
            <div  class="btn btn-default" v-on:click="selectFile">选择文件</div>
        </div>
        <div class="col-md-4">
            {{ fileData ? '当前选择：'+(fileData[0].name) :'未选择文件' }}
            <span v-show="upStatus" style="margin-left: 32px;color: #00CC00;">【 {{ upStatus }} 】</span>
        </div>
        <div class="col-md-2">
            <div v-on:click="upload" class="btn btn-default">提交</div>
        </div>
        <input type="file" id="upfile" name="file" @change="tirggerFile($event)" v-show="false">
    </div>

    <div class="row" v-if="load" id="table">
        <div style="padding:36px 0;text-align:center;font-size: 22px;">
            {{ name }}
        </div>
        <table class="table">
            <tr>
                <th v-for="title in titles">{{ title }}</th>
            </tr>
            <tr v-for="row in excel">
                <td v-for="val in row">{{ val }}</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
<script>
    var ExcelFile = new Vue({
        el: "#fileForm",
        data: {
            upStatus: false,
            fileData: false,
            text: 'nihao '
        },
        methods:{
            selectFile: function () {
                upfile.click();
            },
            tirggerFile : function (event) {
                this.fileData = event.target.files;
                this.upStatus = '未上传';
            },
            upload:function () {
                let formData = new FormData();
                let docName = this.fileData[0].name;
                formData.append("file", this.fileData[0]);
                $.ajax({
                    url: "./index.php",
                    type: "POST",
                    data: formData,
                    async: true,
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    beforeSend:function(){
                        ExcelFile.upStatus = '正在上传...';
                    },
                    success: function (data) {
                        if (data.code != 200){
                            ExcelFile.upStatus = data.msg;
                            alert(data.msg);
                            return;
                        }
                        ExcelFile.upStatus = '已上传';
                        // PHPSpreadsheet返回的是关联数组，JSON后为对象
                        table.titles = data.result[1];
                        delete data.result[1];
                        table.excel = data.result;
                        table.name = docName;
                        table.load = true;
                        console.log('success');
                    },
                    error: function (data) {
                        ExcelFile.upStatus = '上传失败';
                        alert('上传失败');
                    }
                });
                return false;
            }
        }
    });

    var table = new Vue({
        el:'#table',
        data:{
            name: '',
            load:false,
            titles:null,
            excel:null
        },
        methods:{
        }
    });
</script>

